
.toolbox-lists{
    height:100%;
    background-color:white;
   
  } 
  .diagramsPanel {
    width:100%;
    white-space:nowrap;
  }
  
.treeViewPalette {
    vertical-align: top;
    float:left;
    width: 100%;
    height: 510px;
  }



